<%- include ("header") -%>
<style>
  .footer {
color: black;
text-align: center;
padding-top: 20px;
padding-bottom: 10px;
}
.container {
text-align: center;
color: blue;
}
h2 {
text-align: left;
}
/* h3 {
text-align: left;
} */
.summary-text {
font-size: large;
color: wheat;
text-align: left;
padding-top: 20px;
}
@media (max-width: 1022px) {
h3 {
    text-align: left;
}
}
a {
  text-decoration: none;
}
</style>
<div class="container" style="text-align: left;">
  <div class="pt-3 pb-3">
    <div class="row row-cols-2 row-cols-md-3 g-4">
      <div class="col">
        <a href="/wednesday" style="text-decoration: none;">
          <div class="card border-light h-100 text-bg-dark">
            <img src="https://orkfriend.com/wp-content/uploads/2023/01/WEDNESDAY-2022-SEASON-1-DOWNLOAD-IN-HINDI-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Wednesday</h5>
              <p class="card-text">⭐4.1</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/bhediya">
          <div class="card border-light h-100 text-bg-dark">
            <img src="https://orkfriend.com/wp-content/uploads/2023/02/Bhediya-Movie-Download-480p-720p-1080p-2160p.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Bhediya</h5>
              <p class="card-text">⭐3.7</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/taaza-khabar">
          <div class="card border-light h-100 text-bg-dark">
            <img src="https://orkfriend.com/wp-content/uploads/2023/02/Taaza-Khabar-Web-Series-Download.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Taaza Khabar</h5>
              <p class="card-text">⭐4.1</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="https://www.highrevenuegate.com/si0idqvp?key=b9dd0d46c9269a4bf3f534680e709d48">
          <div class="card border-light h-100 text-bg-dark">
            <img src="https://orkfriend.com/wp-content/uploads/2023/03/Vaathi-2023-Full-Movie-Download-in-Hindi-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Vaathi</h5>
              <p class="card-text">⭐3.7</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/tu-jhoothi-main-makkar">
          <div class="card border-light h-100 text-bg-dark">
            <img src="https://orkfriend.com/wp-content/uploads/2023/03/Tu-Jhoothi-Main-Makkar-Download.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tu Jhoothi Main Makkar</h5>
              <p class="card-text">⭐3.4</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/farzi">
          <div class="card border-light h-100 text-bg-dark">
            <img src="https://orkfriend.com/wp-content/uploads/2023/03/Farzi-Season-1-Download.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Farzi</h5>
              <p class="card-text">⭐4.3</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/shazam">
          <div class="card border-light h-100 text-bg-dark">
            <img src="https://orkfriend.com/wp-content/uploads/2023/03/Shazam-Fury-of-the-Gods-Download-in-Hindi-Filmyzilla-Shazam-Fury-of-the-Gods-2023-Movie-Google-Drive-Download.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Shazam Fury Of The Gods</h5>
              <p class="card-text">⭐4.3</p>
            </div>
          </div>
        </a>
      </div>
      <div class="col">
        <a href="/pathaan">
          <div class="card border-light h-100 text-bg-dark">
            <img src="https://orkfriend.com/wp-content/uploads/2023/01/Pathaan-Movie-Download.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Pathaan</h5>
              <p class="card-text">⭐3.2</p>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
    
</div>












<%- include ("footer") -%>